---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hallo Entdecker der weiten digitalen Welt!</h1>
      <p>
        Das Internet ist glücklicherweise kein Neuland mehr, aber die gesamte
        digitale Welt zu überblicken, ist dann doch schwierig. Dabei kann durch
        die Digitalisierung der Schule einige Arbeit eingespart und verbessert
        werden. Außerdem muss klar sein: Die Welt ist bereits digital und die
        Digitalität wird immer weiter Einzug in alle Bereiche des Lebens finden.
      </p>
      <p>
        Daher möchte ich hier durch Blogartikel, Videos und Anleitungen zu
        verschiedenen Themen Ideen und Anregungen für den digitalen Wandel an
        Schulen anbieten. Dabei kann es auch mal nur darum gehen, wie man Zeilen
        in einem Word-Dokument nummeriert oder wie Unterricht evaluiert werden
        kann.
      </p>
      <p>Hier findest du die aktuellen Beiträge:</p>
      <ul>
        <li>Video Zeilennummerierung</li>
        <li>Evaluation Unterricht</li>
        <li>Mediendidaktik: SAMR-Modell</li>
        <li>Meine Top-Tools</li>
        <li>Leseempfehlungen</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
